<!DOCTYPE html> 
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>Hello</title>
</head>
<body>
	<div class="text-center" id="id_header">
		<h1>Hello Apa Kabar?</h1>
	</div>
	<div class="container-fluid">
		<div id= "id_row" class="row" style="background-color: gray">
			<div class="col-xs-12 col-md-4"></div>
			<div class="col-xs-12 col-md-4">
				<form action="/.." method="POST"> 
				            {% csrf_token %}
				            <label id= 'id_stat_title' for="">Status: </label>
				            {{form.status}}
				            <input id = "id_submit" class="submit-button" type="submit" style="background-color: white">
				</form>
			</div>
			<div class="col-xs-12 col-md-4"></div>
		</div>
		<div class="row" style="background-color: lightblue">
			<div class="col-xs-12 col-md-6">
				{% if status_list %}
				{% for i in status_list %}
				<ul>
					<li>{{i.time}}: {{i.status}} </li>
				</ul>
				{% endfor %}
			    {% else %}
			    <p>Isi gan</p>
			    {% endif %}
			</div>
		</div>
	</div>
</body>
</html>